// import variables
@use 'colors';
@use 'variables' as v;

// basic settings
html {
  font-size: v.$basic-font-size;
}

body {
  /* 确保body至少和视口一样高 */
  min-height: 100vh;

  /* 使用Flexbox来居中 */
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */

  /* 为了让内部元素垂直排列，可以加上这个 */
  flex-direction: column;

  /* 你也可以在这里设置全局背景色等 */
  background-color: var(--md-sys-color-surface);
}

// components settings
.top-page {
  display: flex;
  align-items: center; /* 垂直居中 */
  flex-direction: column;
}

.main-logo img {
  width: v.$logo-size;
  margin-bottom: 5rem;
}
.popular-cities {
  display: flex;
  margin-top: 0.3rem;
  gap: v.$popular-cities-chips-gap; /* 在flex子项之间创建0.5rem的间距 */
}

.input-box md-outlined-text-field {
  --md-outlined-text-field-container-shape: 13px;
}
